<!DOCTYPE html>
<html>
    <head>
        <meta name="About Us" content="width=device-width" initial-scale="1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="About.css">
    </head>
    <body>
        <header>

        

            <div class="in_logo">
               <div><img src="./bh20.png" alt=""></div>
            </div>
            <div class="in_link">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sign">Profile</a></li>
                    <li><a href="/sign">SignIn</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </header>
    
        <div class="About">
            <div class="container left-container">
                <div class="text-box">
                    <h2>     Aim of this Website?</h2>
                    <small></small>
                    <p>* The website offers collaborative environment to all institutions for academic project management </p>
                    <p>* Providing a Centralized hub of projects in a digital platform </p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>
            <div class="container right-container">
                <div class="text-box">
                    <h2>How to SignIn ?</h2>
                    <small></small>
                    <p>* As an organization, you'll enjoy comprehensive access privileges(you can view all the projects as well as adding new projects to the platform) </p>
                    <p>* As a student, your access is designed for project exploration; you can view the projects showcased on our website.</p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>
            <div class="container left-container">
                <div class="text-box">
                    <h2>Contact Details</h2>
                    <small></small>
                    <p>* Email: 2021pceca@gmail.com </p>
                    <p>* Call: 955577****</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>
            <div class="container right-container">
                <div class="text-box">
                    <h2>Tech Inc.</h2>
                    <small>2021-2022</small>
                    <p>Lorem ipsum dolor sit amet consectetur, </p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>
        </div>
    </body>
    
        
</html>