<!-- <!DOCTYPE html> -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css">
        <title>Home</title>
    </head>
    <body>
        <div class="center">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>


        <header>

            

            <div class="in_logo">
            <h2>Logo</h2>
            </div>
            <div class="in_link">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/sign">SignIn</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </header>
        <section>
        <div class="in_category">
            <div class="in_category1">
                <div class="in_heading" ><a href="/smartauto?theme=hardware" onmouseover="chng()"  onmouseout="mouseOut()"><h2 onmouseover="chng()">Smart Automation</h2></a>
                </div>
            <div class="in_text">
                <p>Intelligent automation (IA), sometimes also called cognitive automation, is the use of automation technologies – artificial intelligence (AI), business process management (BPM), and robotic process automation (RPA) – to streamline and scale decision-making across organizations.</p>
            </div>
            </div>
            <div class="in_category2">
                <div class="in_heading"><a href="/smartauto" onmouseover="chng1()"  onmouseout="mouseOut()"><h2>Smart Education</h2></a>
                </div>
            <div class="in_text">
                <p>Intelligent automation (IA), sometimes also called cognitive automation, is the use of automation technologies – artificial intelligence (AI), business process management (BPM), and robotic process automation (RPA) – to streamline and scale decision-making across organizations.</p>
            </div>
            </div>
            <div class="in_category3">
                <div class="in_heading"><a href="/smartauto" onmouseover="chng2()"  onmouseout="mouseOut()"><h2>Agriculture</h2></a>
                </div>
            <div class="in_text">
                <p>Intelligent automation (IA), sometimes also called cognitive automation, is the use of automation technologies – artificial intelligence (AI), business process management (BPM), and robotic process automation (RPA) – to streamline and scale decision-making across organizations.</p>
            </div>
            </div>
        </div>
        <div class="in_about">
            <div class="in_big_img">
                <img id="in_chng_img" src="./bg11.png" alt="img">
            </div>    
        </div>
        </section>

        <footer style="margin-top: 8rem;padding-left: 35rem;padding-bottom: 2rem;font-size: larger;color: white;filter: drop-shadow(2px 2px 10px);">
            <p>&copy; Copyright 2020, SmartAuto.</p>
        </footer>
        <script>
            
        </script>
        <script src="./js.js"></script>
    
    </body>
</html>