<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>contact form</title>
    
//- <link href="./style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  h1=title
  h2=contact
  <button type="submit"><a href="/">submit</a></button>
</body>
</html>
