<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="uploadproject.css">
    <title>Project Upload Success</title>
</head>
<body>
    <header>
        <div class="in_logo">
            <div>
                <img src="./bh20.png" alt="Logo">
            </div>
            
        </div>
        <div class="in_link">
            <ul>
                <li><a href="/">AboutUs</a></li>
                <li><a href="/stu">Feed</a></li>
                
            </ul>
        </div>
    </header>
    <div class="container">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h1>Your Project has been Uploaded Successfully!</h1>
        <p>Thank you for submitting your project.</p>
        <!-- <a href="index.html" class="back-link">Back to Home</a> -->
        <button class="custom-button"><a href="/org">Back to Home</a></button>
    </div>
   
</body>
</html>