<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="wrongPass.css">
        <title>Wrong Password</title>
    </head>
    <body>
        <div class="container">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <h1>Wrong Password</h1>
            <p>Your password is incorrect. Please try again.</p>
            <button id="backButton" class="redirect-button">Back to Sign In</button>
        </div>
                
        <script src="./wrong.js">
        </script>
            
    </body>
</html>